.unismartMobileWidth {
  width: 50%; /* Default width */
}

/* Media queries to target mobile devices */
@media only screen and (max-width: 480px) {
  /* Max-width of 480px to target typical mobile devices */
  .unismartMobileWidth {
    width: 100%; /* Width to 100% on mobile devices */
  }
}

.profiles-container {
  display: flex;
  flex-direction: column; /* Default to column layout */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

/* Media queries to target mobile devices */
@media only screen and (max-width: 480px) {
  /* Define a max-width of 480px to target typical mobile devices */
  .profiles-container {
    flex-direction: row; /* Change to row layout for mobile devices */
    justify-content: center; /* Center items horizontally on mobile devices */
  }

  /* Center items vertically on mobile devices */
  .profiles-container > div {
    margin-top: 0.5rem; /* Add top margin to the parent div */
    margin-bottom: 0.5rem; /* Add bottom margin to the parent div */
  }

  /* Remove margins from h2 elements */
  .profiles-container h2 {
    margin: 0; /* Reset all margins */
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
